html,
body,
#root,
.layout {
    block-size: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout {
    display: grid;
    grid-template:
        "nav          top-bar       top-bar  top-bar" min-content
        "nav          sidebar-left  header   sidebar-right" min-content
        "nav          sidebar-left  main     sidebar-right" 1fr
        "nav          sidebar-left  footer   sidebar-right" min-content
        / min-content min-content 1fr min-content;
}

.nav {
    background-color: #392aa7;
    grid-area: nav;
    inline-size: 3.5rem;
    transition: inline-size 200ms ease-in-out;
}
.nav.open {
    inline-size: 20rem;
}

.top-bar {
    block-size: 4.25rem;
    border-block-end: thin solid #e7ecf3;
    box-sizing: border-box;
    grid-area: top-bar;
}

.sidebar-left,
.sidebar-right {
    box-sizing: border-box;
    inline-size: 20rem;
}
.sidebar-left {
    border-inline-end: thin solid #e7ecf3;
    grid-area: sidebar-left;
}

.sidebar-right {
    border-inline-start: thin solid #e7ecf3;
    grid-area: sidebar-right;
    transition: inline-size 200ms ease-in-out;
}
.sidebar-right.closed {
    width: 4rem;
}

.header {
    block-size: 4.25rem;
    border-block-end: thin solid #e7ecf3;
    box-sizing: border-box;
    grid-area: header;
}

.main {
    grid-area: main;
    overflow: auto;
}

.footer {
    block-size: 4.25rem;
    border-block-start: thin solid #e7ecf3;
    box-sizing: border-box;
    grid-area: footer;
}
