.nav {
    color: #666666;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    max-inline-size: 17.5rem;
    row-gap: 1.25rem;
}

.nav-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.nav-title {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav-list {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    row-gap: 0.5rem;
}

.nav-list .nav-list {
    border-inline-start: thin solid #ebebeb;
    margin-inline-start: 0.5625rem;
    padding-inline-start: 0.875rem;
}

.nav-list-item {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

.nav-toggle {
    align-items: center;
    block-size: 1.25rem;
    border-radius: 0.1875rem;
    display: flex;
    fill: #999999;
    inline-size: 1.25rem;
    justify-content: center;
    outline: none;
}
.nav-toggle:hover {
    background-color: #f5f5f5;
    fill: #666666;
}
.nav-toggle:focus-visible {
    box-shadow: inset 0 0 0 0.0625rem rgba(102, 51, 185, 1),
        0 0 0 0.1875rem rgba(102, 51, 185, 0.2);
}

.nav-icon {
    block-size: 0.75rem;
    inline-size: 0.75rem;
}
.nav-toggle[aria-expanded="true"] .nav-icon {
    transform: rotate(90deg);
}

.nav-link {
    border-radius: 0.1875rem;
    outline: none;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    position: relative;
}
.nav-link:hover {
    color: #333333;
}
.nav-link:focus-visible {
    box-shadow: inset 0 0 0 0.0625rem rgba(102, 51, 185, 1),
        0 0 0 0.1875rem rgba(102, 51, 185, 0.2);
}
.nav-link[aria-current="page"] {
    color: #000;
    font-weight: 600;
}
.nav-link-article[aria-current="page"]::before {
    border-inline-start: thin solid #000;
    content: "";
    display: block;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: -0.9375rem;
    pointer-events: none;
    position: absolute;
}

.nav-empty {
    color: #999999;
}
